body {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    padding: 20px;
}

img {
  max-width: 500px;
  max-height: 500px;
}
